.modal.show .modal-dialog
{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 45%;
  position: absolute;
  min-width: 60%;
}

@media only screen and (max-width: 768px)
{
  .modal.show .modal-dialog
  {
    transform: translate(-50%, -50%);
    left: 48%;
    top: 50%;
    position: absolute;
    min-width: 90%;
  }

  .nuestros-proyectos
  {
    position: absolute;
    right: 8px;
  }

  button.close.nuestros-proyectos
  {
    padding-top: 10px;
    font-size: 40px;
  }
}

.modal-body
{
  min-height: 90%;
  text-align: center;
  padding-top: 50px;
}

.nuestros-proyectos
{
  position: absolute;
  right: 25px;
}

button.close
{
  padding-top: 12px;
  font-size: 50px;
}

img.image-modal-proyectos
{
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 10px;
}

.ourprojects
{
  background: #E0F6F7;
  font-family: 'Montserrat', sans-serif;
}

.ourprojects h2
{
  font-family: 'Montserrat', sans-serif;
}

.moreProjects
{
  font-size: 60px;
  color: black;
  padding-top: 30px;
}

.single-product2
{
    background: url(../img/bubbles.jpg);
    background-size: cover;
}

.imagenp1:hover {
  background-image: url(../img/c1.jpg);
}

.imagenp2:hover {
  background-image: url(../img/c2.jpg);
}

.imagenp3:hover {
  background-image: url(../img/c3.jpg);
}

.imagenp4:hover {
  background-image: url(../img/c4.jpg);
}

.imagenp5:hover {
  background-image: url(../img/c5.jpg);
}

.imagenp6:hover {
  background-image: url(../img/c7.jpg);
}

.single-product2:hover
{
    /*background: url(../img/c1.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  transform: scale(1.1);
}

.single-product1 {
  margin-top: 30px;
  opacity: 0;
  background: gray;
  /*border-bottom: 2px solid #00ff8c;*/
  padding: 70px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-product1 .icon {
  text-align: center;
  margin-bottom: 0px;
}

.single-product1 .icon span {
  font-size: 28px;
  color: #00ff8c;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-product1 .desc {
  text-align: center;
}

.single-product1 .desc h4 {
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.single-product1 .desc p {
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.single-product1:hover {
  opacity: .85;
  transition: opacity .5s;
}

.single-product1:hover .icon span, .single-product1:hover .desc h4, .single-product1:hover .desc p {
  color: #fff;
  opacity: .85;
  transition: opacity .5s;
}